.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: background-color .3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, .55);
  }
  
  @mixin atMedium {
    background-color: rgba($mainBlue, .3);
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transform-origin: 50% 0;
    background-color: $mainBlue;
    padding: 25px 36px;

    @mixin atMedium {
      left: auto;
      transform: translateX(0);
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    opacity: 0;
    transition: all .3s ease-out;
    transform: scale(1.4);
    z-index: -10;
    position: relative;
    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      transform: scale(1);
      z-index: 1;
      padding-top: 0;
    }

    &--is-visible {
      opacity: 1;
      transform: scale(1);
      z-index: 1;
    }
  }
}